<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony's - Blog | About</title>

    <!-- Bootstrap assets -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon assets -->
    <link rel="stylesheet" href="{% static 'Font-awesome/css/all.min.css' %}">
    <!-- Boxicons assets -->
    <link rel="stylesheet" href="{% static 'boxicons/css/boxicons.min.css' %}">
    <!-- Bootstrap-icons -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header id="header">
        <h2><a href="{% url 'index' %}">Tony's blog</a></h2>

        <ul class="blogMenuBar">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Recents</a></li>
            <li><a href="#">Comments</a></li>
        </ul>
    </header>

    <section class="about">
        <div class="about-content">
            <div class="row">
                <div class="col-lg-6 about-img">
                    <img src="{% static 'img/Me3.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 about-text">
                    <h2>Hi, I am Onyekwelu Ifeanyi</h2>
                    <p>Innovative and deadline-driven Web Designer, Creator, Graphic Designer with 2+ years of experience designing and developing user-friendly designs and creations from initial wireframe to final, polished deliverable result.</p>
                    <div class="about-links d-flex justify-content-around" style="width: 100%;">
                        <p><a href=""><i class="bi bi-instagram"></i></a></p>
                        <p><a href=""><i class="bi bi-facebook"></i></a></p>
                        <p><a href=""><i class="bi bi-twitter"></i></a></p>
                        <p><a href=""><i class="bi bi-github"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-dark">

    </footer>
</body>
</html>